<%= form_with(model: [post, Comment.new]) do |form| %>
  <div class="form-content flex flex-col">
    <div class="mt-3 flex justify-between">
      <%= form.text_area :content, placeholder: "let them know whats up!", class: "bg-gray-100 resize-none mt-1 mr-3 p-4 h-32 border-none rounded-lg shadow-sm focus:outline-none focus:ring-purple-400 focus:border-purple-400 sm:text-sm flex-grow" %>
      <%= image_submit_tag("post.png", alt: "Submit", width: 19, height: 19, class: "mr-1") %>
    </div>
  </div>
<% end %>